In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [2]:
FILENAME = 'cab_rides.csv'
df = pd.read_csv(FILENAME)

In [3]:
#Changing time Stamp to date and time
df['time_stamp'] = pd.to_datetime(df['time_stamp'], unit='ms').dt.time

In [4]:
df

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,09:30:07.890000,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,02:00:23.677000,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,01:00:22.198000,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,04:53:02.749000,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,03:49:20.223000,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
...,...,...,...,...,...,...,...,...,...,...
693066,1.00,Uber,23:53:05.534000,North End,West End,13.0,1.0,616d3611-1820-450a-9845-a9ff304a4842,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL
693067,1.00,Uber,23:53:05.534000,North End,West End,9.5,1.0,633a3fc3-1f86-4b9e-9d48-2b7132112341,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX
693068,1.00,Uber,23:53:05.534000,North End,West End,NaN,1.0,64d451d0-639f-47a4-9b7c-6fd92fbd264f,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
693069,1.00,Uber,23:53:05.534000,North End,West End,27.0,1.0,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV
693070,1.00,Uber,23:53:05.534000,North End,West End,10.0,1.0,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool

In [5]:
#sorting the uber and Lyft rides
df_1 = df.loc[df['cab_type']=='Uber']
df_2 = df.loc[df['cab_type']=="Lyft"]

In [6]:
# Sorting distance of both the datasets
#Uber
distances_Uber = (df_1.distance)
distances_Uber_unique = sorted(df_1.distance.unique())
#Lyft
distances_Lyft = (df_2.distance)
distances_Lyft_unique = sorted(df_2.distance.unique())

#Prices
#Uber
price_Uber = (df_1.price)
#Lyft
price_Lyft = (df_2.price)

#time
#Uber
time_Uber = (df_1.time_stamp)
#Lyft
time_Lyft = (df_2.time_stamp)

In [7]:
### Uber Dataframe sorted by time
Dict_Uber = {'Distance':distances_Uber,'Price':price_Uber,'Time':time_Uber}
df_Uber1 = pd.DataFrame(Dict_Uber)
df_Uber = df_Uber1.sort_values('Time').dropna()
df_Uber

        Distance  Price             Time
370823      2.17   15.0  00:00:03.400000
50714       2.46   30.5  00:00:03.400000
370824      2.17   22.0  00:00:03.400000
370820      2.17   15.0  00:00:03.400000
370821      2.17   29.0  00:00:03.400000
...          ...    ...              ...
493914      1.00    8.5  23:59:08.312000
598295      1.24   27.0  23:59:08.316000
95599       1.56   26.5  23:59:08.316000
598297      1.24    7.0  23:59:08.316000
598296      1.24   11.0  23:59:08.316000

[330568 rows x 3 columns]

In [8]:
###LYFT DataFrame sorted by time
Dict_Lyft = {'Distance':distances_Lyft,'Price':price_Lyft,'Time':time_Lyft}
df_Lyft1 = pd.DataFrame(Dict_Lyft)
df_Lyft = df_Lyft1.sort_values('Time').dropna()
df_Lyft

        Distance  Price             Time
309007      2.53   19.5  00:00:03.539000
309008      2.53   22.5  00:00:03.539000
38517       2.54    3.0  00:00:03.539000
523736      1.36    7.0  00:00:03.618000
523738      1.36   13.5  00:00:03.618000
...          ...    ...              ...
493915      2.75   11.0  23:59:08.312000
75106       2.42   16.5  23:59:08.312000
493916      2.75   16.5  23:59:08.312000
598293      1.37    7.0  23:59:08.316000
598294      1.37   13.5  23:59:08.316000

[307408 rows x 3 columns]

In [9]:
#Uber distance and prices and time list
Uber_distance = df_Uber.Distance.tolist()
Uber_price = df_Uber.Price.tolist()
u_time = df_Uber.Time.tolist()

In [10]:
#Lyft distance and prices and time list
Lyft_distance = df_Lyft.Distance.tolist()
Lyft_price = df_Lyft.Price.tolist()
l_time = df_Lyft.Time.tolist()

In [11]:
#Converting Uber time to string and dividing the time periods into 4 parts
Uber_time =[]
for i in range(len(u_time)):
    v = u_time[i].strftime("%H:%M:%S")
    Uber_time.append(v)

Uber_00to06 = []
Uber_06to12 = []
Uber_12to18 = []
Uber_18to00 = []
Uber_00to06_price = []
Uber_06to12_price = []
Uber_12to18_price = []
Uber_18to00_price = []
Uber_00to06_distance = []
Uber_06to12_distance = []
Uber_12to18_distance = []
Uber_18to00_distance = []


for i in range(len(Uber_time)):
    if('00:00:00'<= Uber_time[i]<'06:00:00'):
        Uber_00to06.append(Uber_time[i])
        Uber_00to06_price.append(Uber_price[i])
        Uber_00to06_distance.append(Uber_distance[i])
    if('06:00:00'<= Uber_time[i]<'12:00:00'):
        Uber_06to12.append(Uber_time[i])
        Uber_06to12_price.append(Uber_price[i])
        Uber_06to12_distance.append(Uber_distance[i])
    if('12:00:00'<= Uber_time[i]<'18:00:00'):
        Uber_12to18.append(Uber_time[i])
        Uber_12to18_price.append(Uber_price[i])
        Uber_12to18_distance.append(Uber_distance[i])
    if('18:00:00'<= Uber_time[i]<='23:59:59'):
        Uber_18to00.append(Uber_time[i])
        Uber_18to00_price.append(Uber_price[i])
        Uber_18to00_distance.append(Uber_distance[i])

#Converting Lyft time to string and dividing the time periods into 4 parts

Lyft_time =[]
for i in range(len(l_time)):
    c = l_time[i].strftime("%H:%M:%S")
    Lyft_time.append(c)

Lyft_00to06 = []
Lyft_06to12 = []
Lyft_12to18 = []
Lyft_18to00 = []
Lyft_00to06_price = []
Lyft_06to12_price = []
Lyft_12to18_price = []
Lyft_18to00_price = []
Lyft_00to06_distance = []
Lyft_06to12_distance = []
Lyft_12to18_distance = []
Lyft_18to00_distance = []

for i in range(len(Lyft_time)):
    if('00:00:00'<= Lyft_time[i]<'06:00:00'):
        Lyft_00to06.append(Lyft_time[i])
        Lyft_00to06_price.append(Lyft_price[i])
        Lyft_00to06_distance.append(Lyft_distance[i])
    if('06:00:00'<= Lyft_time[i]<'12:00:00'):
        Lyft_06to12.append(Lyft_time[i])
        Lyft_06to12_price.append(Lyft_price[i])
        Lyft_06to12_distance.append(Lyft_distance[i])
    if('12:00:00'<= Lyft_time[i]<'18:00:00'):
        Lyft_12to18.append(Lyft_time[i])
        Lyft_12to18_price.append(Lyft_price[i])
        Lyft_12to18_distance.append(Lyft_distance[i])
    if('18:00:00'<= Lyft_time[i]<='23:59:59'):
        Lyft_18to00.append(Lyft_time[i])
        Lyft_18to00_price.append(Lyft_price[i])
        Lyft_18to00_distance.append(Lyft_distance[i])

In [12]:
### Uber for time period 1 Dataframe sorted by time
Dict_Uber1 = {'Distance':Uber_00to06_distance,'Price':Uber_00to06_price,'Time':Uber_00to06}
df_Uber1 = pd.DataFrame(Dict_Uber1)
df_Uber1 = df_Uber1.sort_values('Distance').dropna()

d_u1 = df_Uber1.Distance.tolist()
u1_05 = []
u1_1 = []
u1_15 = []
u1_2 = []
u1_25 = []
u1_3 = []
u1_35 = []
u1_4 = []
u1_45 = []
u1_5 = []
u1_55 = []
u1_6 = []
u1_65 = []
u1_7 = []
u1_75 = []
u1_8 = []

for i in range(len(d_u1)):
    if(d_u1[i]<=0.5):
        u1_05.append(d_u1[i])
    if(0.5<d_u1[i]<=1.0):
        u1_1.append(d_u1[i])
    if(1.0<d_u1[i]<=1.5):
        u1_15.append(d_u1[i])
    if(1.5<d_u1[i]<=2):
        u1_2.append(d_u1[i])
    if(2<d_u1[i]<=2.5):
        u1_25.append(d_u1[i])
    if(2.5<d_u1[i]<=3.0):
        u1_3.append(d_u1[i])
    if(3.0<d_u1[i]<=3.5):
        u1_35.append(d_u1[i])
    if(3.5<d_u1[i]<=4.0):
        u1_4.append(d_u1[i])
    if(4<d_u1[i]<=4.5):
        u1_45.append(d_u1[i])
    if(4.5<d_u1[i]<=5.0):
        u1_5.append(d_u1[i])
    if(5.0<d_u1[i]<=5.5):
        u1_55.append(d_u1[i])
    if(5.5<d_u1[i]<=6.0):
        u1_6.append(d_u1[i])
    if(6.0<d_u1[i]<=6.5):
        u1_65.append(d_u1[i])
    if(6.5<d_u1[i]<=7.0):
        u1_7.append(d_u1[i])
    if(7.0<d_u1[i]<=7.5):
        u1_75.append(d_u1[i])
    if(7.5<d_u1[i]<=8.0):
        u1_8.append(d_u1[i])

In [13]:
### Uber for time period 2 Dataframe sorted by time
Dict_Uber2 = {'Distance':Uber_06to12_distance,'Price':Uber_06to12_price,'Time':Uber_06to12}
df_Uber2 = pd.DataFrame(Dict_Uber2)
df_Uber2 = df_Uber2.sort_values('Distance').dropna()
df_Uber2

       Distance  Price      Time
78389      0.02    7.5  11:54:22
56542      0.02    6.5  10:23:07
78388      0.02    9.5  11:54:22
11194      0.02    6.5  06:49:50
56541      0.02   15.0  10:23:07
...         ...    ...       ...
19871      7.50   14.5  07:33:00
69147      7.50   46.0  11:15:22
57680      7.50   31.5  10:28:02
27617      7.50   16.5  08:12:21
27619      7.50   26.0  08:12:21

[79647 rows x 3 columns]

In [14]:
### Uber for time period 3 Dataframe sorted by time
Dict_Uber3 = {'Distance':Uber_12to18_distance,'Price':Uber_12to18_price,'Time':Uber_12to18}
df_Uber3 = pd.DataFrame(Dict_Uber3)
df_Uber3 = df_Uber3.sort_values('Distance').dropna()
df_Uber3

       Distance  Price      Time
64476      0.02   15.0  16:25:11
37532      0.02    8.5  14:35:07
39589      0.02   27.5  14:43:03
702        0.02   27.5  12:02:11
64475      0.02    6.5  16:25:11
...         ...    ...       ...
19396      7.62   17.0  13:20:06
28176      7.62   13.5  13:56:08
19397      7.62   28.5  13:20:06
60682      7.86   17.5  16:10:10
60681      7.86   36.0  16:10:10

[86847 rows x 3 columns]

In [15]:
### Uber for time period 4 Dataframe sorted by time
Dict_Uber4 = {'Distance':Uber_18to00_distance,'Price':Uber_18to00_price,'Time':Uber_18to00}
df_Uber4 = pd.DataFrame(Dict_Uber4)
df_Uber4 = df_Uber4.sort_values('Distance').dropna()
df_Uber4

       Distance  Price      Time
56631      0.02    6.5  22:13:07
52893      0.02   27.5  21:56:10
52892      0.02    8.5  21:56:10
72269      0.02   27.5  23:18:27
9205       0.02   15.0  18:37:57
...         ...    ...       ...
62483      7.46   54.0  22:40:03
23310      7.46   16.0  19:39:23
47061      7.46   16.0  21:30:10
23292      7.46   13.0  19:39:22
46322      7.50   18.5  21:27:24

[82674 rows x 3 columns]

In [16]:
### Lyft for time period 1 Dataframe sorted by time
Dict_Lyft1 = {'Distance':Lyft_00to06_distance,'Price':Lyft_00to06_price,'Time':Lyft_00to06}
df_Lyft1 = pd.DataFrame(Dict_Lyft1)
df_Lyft1 = df_Lyft1.sort_values('Distance').dropna()
df_Lyft1

       Distance  Price      Time
72907      0.39   13.5  05:43:03
243        0.39   10.5  00:00:11
68870      0.39    5.0  05:21:23
245        0.39    7.0  00:00:11
246        0.39    9.0  00:00:11
...         ...    ...       ...
71371      6.13   38.0  05:35:11
71373      6.13   11.0  05:35:11
71372      6.13   26.0  05:35:11
39250      6.33   16.5  02:55:13
15109      6.33   47.5  01:00:22

[75755 rows x 3 columns]

In [17]:
### Lyft for time period 2 Dataframe sorted by time
Dict_Lyft2 = {'Distance':Lyft_06to12_distance,'Price':Lyft_06to12_price,'Time':Lyft_06to12}
df_Lyft2 = pd.DataFrame(Dict_Lyft2)
df_Lyft2 = df_Lyft2.sort_values('Distance').dropna()
df_Lyft2

       Distance  Price      Time
50307      0.39   16.5  10:15:23
56194      0.39    7.0  10:43:00
23851      0.39   16.5  08:03:23
23850      0.39    7.0  08:03:23
49796      0.39   26.0  10:14:07
...         ...    ...       ...
54134      6.13   30.0  10:33:21
54136      6.13   47.5  10:33:21
33022      6.14   55.0  08:55:08
33020      6.14   32.5  08:55:08
33023      6.14   27.5  08:55:08

[73304 rows x 3 columns]

In [18]:
### Lyft for time period 3 Dataframe sorted by time
Dict_Lyft3 = {'Distance':Lyft_12to18_distance,'Price':Lyft_12to18_price,'Time':Lyft_12to18}
df_Lyft3 = pd.DataFrame(Dict_Lyft3)
df_Lyft3 = df_Lyft3.sort_values('Distance').dropna()
df_Lyft3

       Distance  Price      Time
64222      0.39   27.5  16:45:13
26073      0.39    9.0  13:55:03
26074      0.39   26.0  13:55:03
26075      0.39   16.5  13:55:03
59575      0.39   10.5  16:25:07
...         ...    ...       ...
78236      6.09   55.0  17:45:22
78235      6.09   16.5  17:45:22
23453      6.14   10.5  13:42:59
23452      6.14   16.5  13:42:59
23454      6.14   38.5  13:42:59

[81038 rows x 3 columns]

In [19]:
### Lyft for time period 4 Dataframe sorted by time
Dict_Lyft4 = {'Distance':Lyft_18to00_distance,'Price':Lyft_18to00_price,'Time':Lyft_18to00}
df_Lyft4 = pd.DataFrame(Dict_Lyft4)
df_Lyft4 = df_Lyft4.sort_values('Distance').dropna()
df_Lyft4

       Distance  Price      Time
60166      0.39   16.5  22:45:24
15315      0.39    7.0  19:07:59
27209      0.39    3.5  20:06:22
54277      0.39    9.0  22:20:03
54280      0.39   11.0  22:20:03
...         ...    ...       ...
14883      6.12   16.5  19:05:11
16096      6.33   42.5  19:10:13
20830      6.33   26.0  19:33:24
5761       6.33   30.0  18:25:09
8291       6.33   11.0  18:35:16

[77311 rows x 3 columns]

In [20]:
# Noah

# This function calculation the demand of all different distance(period) and return a list of 8 demands
def index_Dperid_calculation(df):
    idx_1 = [] #For distance 0 - 1 mile
    idx_2 = [] #For distance 1 - 2 mile
    idx_3 = [] #For distance 2 - 3 mile
    idx_4 = [] #For distance 3 - 4 mile
    idx_5 = [] #For distance 4 - 5 mile
    idx_6 = [] #For distance 5 - 6 mile
    idx_7 = [] #For distance 6 - 7 mile
    idx_8 = [] #For distance 7 - 8 mile

    overall_mean = np.mean(df['Price'])
    
    for i in range(len(df)):
        if 0 <= df['Distance'][i] <= 1:
            idx_1.append(df['Price'][i])
        if 1 < df['Distance'][i] <= 2:
            idx_2.append(df['Price'][i])
        if 2 < df['Distance'][i] <= 3:
            idx_3.append(df['Price'][i])
        if 3 < df['Distance'][i] <= 4:
            idx_4.append(df['Price'][i])
        if 4 < df['Distance'][i] <= 5:
            idx_5.append(df['Price'][i])
        if 5 < df['Distance'][i] <= 6:
            idx_6.append(df['Price'][i])
        if 6 < df['Distance'][i] <= 7:
            idx_7.append(df['Price'][i])
        if 7 < df['Distance'][i] <= 8:
            idx_8.append(df['Price'][i])
            
    demand1 = np.mean(idx_1)
    demand2 = np.mean(idx_2)
    demand3 = np.mean(idx_3)
    demand4 = np.mean(idx_4)
    demand5 = np.mean(idx_5)
    demand6 = np.mean(idx_6)
    demand7 = np.mean(idx_7)
    demand8 = np.mean(idx_8)
    
    demand = [demand1, demand2, demand3, demand4, demand5, demand6, demand7, demand8]

#     df['Index'] = 0.00
#     df['DPeriod'] = 0
#     for i in range(len(df)):
#         if 0 <= df['Distance'][i] <= 1:
#             df['Index'][i] = a1
#             df['DPeriod'][i] = 1        
#         if 1 < df['Distance'][i] <= 2:
#             df['Index'][i] = a2
#             df['DPeriod'][i] = 2        
#         if 2 < df['Distance'][i] <= 3:
#             df['Index'][i] = a3
#             df['DPeriod'][i] = 3        
#         if 3 < df['Distance'][i] <= 4:
#             df['Index'][i] = a4
#             df['DPeriod'][i] = 4        
#         if 4 < df['Distance'][i] <= 5:
#             df['Index'][i] = a5
#             df['DPeriod'][i] = 5        
#         if 5 < df['Distance'][i] <= 6:
#             df['Index'][i] = a6
#             df['DPeriod'][i] = 6        
#         if 6 < df['Distance'][i] <= 7:
#             df['Index'][i] = a7
#             df['DPeriod'][i] = 7        
#         if 7 < df['Distance'][i] <= 8:
#             df['Index'][i] = a8
#             df['DPeriod'][i] = 8
    return demand

In [21]:
# Calling function of index_Dperid_calculation() to calculate the demands
demandU1 = index_Dperid_calculation(df_Uber1)
demandU2 = index_Dperid_calculation(df_Uber2)
demandU3 = index_Dperid_calculation(df_Uber3)
demandU4 = index_Dperid_calculation(df_Uber4)
demandL1 = index_Dperid_calculation(df_Lyft1)
demandL2 = index_Dperid_calculation(df_Lyft2)
demandL3 = index_Dperid_calculation(df_Lyft3)
demandL4 = index_Dperid_calculation(df_Lyft4)

C:\Users\Vishesh\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3118: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\Vishesh\Anaconda3\lib\site-packages\numpy\core\_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [22]:
demandU1

[12.546811102410162,
 13.838275080432876,
 16.48147396615397,
 18.564799538030027,
 21.747913769123784,
 25.697972972972973,
 25.284982935153582,
 27.094382022471912]

In [23]:
# Putting demands into one single list
# Uber
demandU = demandU1 + demandU2 + demandU3 + demandU4
# Lyft (Coverting NaN to 0)
demandL = demandL1 + demandL2 + demandL3 + demandL4
# demandL = np.asarray(demandL)
# demandL[np.isnan(demandL)] = 0
# demandL = demandL.tolist()
demandL = [x for x in demandL if str(x) != 'nan']

In [24]:
# Calculate the average demand of same distance for different season(1, 2, 3, 4)
ave_demand_U = []
ave_demand_L = []
for i in range(8):
    ave_demand_U.append((demandU[i] + demandU[i+8] + demandU[i+16] + demandU[i+24])/4)
for j in range(7):
    ave_demand_L.append((demandL[j] + demandL[j+7] + demandL[j+14] + demandL[j+21])/4)
    
# Calculate the SI for all periods
# Uber
overall_average_U = sum(demandU)/len(demandU)
season_index_U = [x/overall_average_U for x in ave_demand_U]

# Lyft
overall_average_L = sum(demandL)/len(demandL)
season_index_L = [y/overall_average_L for y in ave_demand_L]

In [25]:
# make the whole list of periodically_average and seasonality_index
# and calculate the deseasonalized demand
# Uber
periodically_average_Uber = ave_demand_U+ave_demand_U+ave_demand_U+ave_demand_U
seasonality_index_Uber = season_index_U+season_index_U+season_index_U+season_index_U
deseason_demand_U = []
for n in range(len(demandU)):
    deseason_demand_U.append(demandU[n]/seasonality_index_Uber[n])

# Lyft
periodically_average_Lyft = ave_demand_L+ave_demand_L+ave_demand_L+ave_demand_L
seasonality_index_Lyft = season_index_L+season_index_L+season_index_L+season_index_L
deseason_demand_L = []
for m in range(len(demandL)):
    deseason_demand_L.append(demandL[m]/seasonality_index_Lyft[m])

In [26]:
def deseasonalized_forecast(alpha, initial_forecast, demand, deseason_demand):
    deseason_forecast = [initial_forecast]
    for i in range(len(demand)-1):
        deseason_forecast.append(alpha*deseason_demand[i]+(1-alpha)*deseason_forecast[i])
    return deseason_forecast

In [27]:
# calling deseasonalized_forecast() to calculate the deseasonalized_forecast for Uber and Lyft
# alpha and initial_forecast is subject to change
deseasonalized_forecastU = deseasonalized_forecast(0.2, 20, demandU, deseason_demand_U)
deseasonalized_forecastL = deseasonalized_forecast(0.2, 20, demandL, deseason_demand_L)

# calculating the actural forecast
# Uber
actural_forecast_U = []
for i in range(len(deseasonalized_forecastU)):
    actural_forecast_U.append(seasonality_index_Uber[i]*deseasonalized_forecastU[i])

# Lyft
actural_forecast_L = []
for j in range(len(deseasonalized_forecastL)):
    actural_forecast_L.append(seasonality_index_Lyft[j]*deseasonalized_forecastL[j])

In [28]:
# creating new dataframes
# Uber
season_U = [1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2 ,2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4]
distance_U = [1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]
uber = {'Season':season_U, 'Distance':distance_U, 'Price':demandU, 'Periodically Average':periodically_average_Uber, 
        'Seasonality Index':seasonality_index_Uber, 'Deseasonalized demand':deseason_demand_U, 
        'Deseaonalized Forecast':deseasonalized_forecastU, 'Acutal Forecast':actural_forecast_U}
df_new_Uber = pd.DataFrame(uber)
df_new_Uber

,Season,Distance,Price,Periodically Average,Seasonality Index,Deseasonalized demand,Deseaonalized Forecast,Acutal Forecast
0,1,1,12.546811,12.472748,0.621859,20.176294,20.000000,12.437181
1,1,2,13.838275,13.786760,0.687372,20.132139,20.035259,13.771683
2,1,3,16.481474,16.517083,0.823499,20.013954,20.054635,16.514975
3,1,4,18.564800,18.566796,0.925693,20.055037,20.046499,18.556895
4,1,5,21.747914,21.752195,1.084508,20.053247,20.048206,21.742447
5,1,6,25.697973,25.570770,1.274893,20.156970,20.049215,25.560596
6,1,7,25.284983,24.208505,1.206974,20.949077,20.070766,24.224885
7,1,8,27.094382,27.582699,1.375202,19.702107,20.246428,27.842933
8,2,1,12.473332,12.472748,0.621859,20.058134,20.137564,12.522726
9,2,2,13.717776,13.786760,0.687372,19.956835,20.121678,13.831084
10,2,3,16.523272,16.517083,0.823499,20.064711,20.088709,16.543035
11,2,4,18.610081,18.566796,0.925693,20.103953,20.083910,18.591526
12,2,5,21.724947,21.752195,1.084508,20.032070,20.087918,21.785515
13,2,6,25.301379,25.570770,1.274893,19.845890,20.076749,25.595699
14,2,7,24.004687,24.208505,1.206974,19.888328,20.030577,24.176378
15,2,8,27.507042,27.582699,1.375202,20.002179,20.002127,27.506971
16,3,1,12.442161,12.472748,0.621859,20.008009,20.002138,12.438510
17,3,2,13.776237,13.786760,0.687372,20.041884,20.003312,13.749723
18,3,3,16.482886,16.517083,0.823499,20.015668,20.011026,16.479063
19,3,4,18.623376,18.566796,0.925693,20.118316,20.011955,18.524918
20,3,5,21.612814,21.752195,1.084508,19.928675,20.033227,21.726202
21,3,6,25.654535,25.570770,1.274893,20.122898,20.012316,25.513555
22,3,7,24.250633,24.208505,1.206974,20.092098,20.034433,24.181032
23,3,8,27.591522,27.582699,1.375202,20.063610,20.045966,27.567258
24,4,1,12.428687,12.472748,0.621859,19.986340,20.049495,12.467960
25,4,2,13.814753,13.786760,0.687372,20.097919,20.036864,13.772786
26,4,3,16.580699,16.517083,0.823499,20.134445,20.049075,16.510396
27,4,4,18.468929,18.566796,0.925693,19.951471,20.066149,18.575085
28,4,5,21.923104,21.752195,1.084508,20.214786,20.043213,21.737032
29,4,6,25.629193,25.570770,1.274893,20.103020,20.077528,25.596693
30,4,7,23.293716,24.208505,1.206974,19.299275,20.082626,24.239200
31,4,8,28.137850,27.582699,1.375202,20.460881,19.925956,27.402220

In [30]:
# creating new dataframes
# Lyft
season_L = [1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2 ,2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4]
distance_L = [1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]
lyft = {'Season':season_L, 'Distance':distance_L, 'Price':demandL, 'Periodically Average':periodically_average_Lyft, 
        'Seasonality Index':seasonality_index_Lyft, 'Deseasonalized demand':deseason_demand_L, 
        'Deseaonalized Forecast':deseasonalized_forecastL, 'Acutal Forecast':actural_forecast_L}
df_new_Lyft = pd.DataFrame(lyft)
df_new_Lyft

,Season,Distance,Price,Periodically Average,Seasonality Index,Deseasonalized demand,Deseaonalized Forecast,Acutal Forecast
0,1,1,12.881078,12.793480,0.601537,21.413601,20.000000,12.030744
1,1,2,14.637059,14.587945,0.685911,21.339583,20.282720,13.912145
2,1,3,18.352055,18.356293,0.863095,21.263068,20.494093,17.688356
3,1,4,20.856117,20.970526,0.986014,21.151947,20.647888,20.359108
4,1,5,25.337677,25.250590,1.187259,21.341329,20.748700,24.634072
5,1,6,27.250277,27.025346,1.270706,21.444990,20.867225,26.516108
6,1,7,34.166667,29.891667,1.405478,24.309649,20.982778,29.490825
7,2,1,12.750291,12.793480,0.601537,21.196180,21.648153,13.022169
8,2,2,14.587304,14.587945,0.685911,21.267044,21.557758,14.786708
9,2,3,18.351651,18.356293,0.863095,21.262600,21.499615,18.556217
10,2,4,20.961738,20.970526,0.986014,21.259066,21.452212,21.152183
11,2,5,25.377536,25.250590,1.187259,21.374902,21.413583,25.423461
12,2,6,27.010326,27.025346,1.270706,21.256158,21.405847,27.200537
13,2,7,32.500000,29.891667,1.405478,23.123812,21.375909,30.043361
14,3,1,12.908812,12.793480,0.601537,21.459707,21.725489,13.068690
15,3,2,14.582103,14.587945,0.685911,21.259461,21.672333,14.865296
16,3,3,18.344070,18.356293,0.863095,21.253817,21.589759,18.634020
17,3,4,20.976610,20.970526,0.986014,21.274148,21.522570,21.221557
18,3,5,24.958853,25.250590,1.187259,21.022255,21.472886,25.493869
19,3,6,27.350096,27.025346,1.270706,21.523544,21.382760,27.171200
20,3,7,27.766667,29.891667,1.405478,19.756037,21.410917,30.092563
21,4,1,12.633740,12.793480,0.601537,21.002425,21.079941,12.680369
22,4,2,14.545313,14.587945,0.685911,21.205825,21.064437,14.448334
23,4,3,18.377395,18.356293,0.863095,21.292428,21.092715,18.205024
24,4,4,21.087639,20.970526,0.986014,21.386752,21.132658,20.837098
25,4,5,25.328295,25.250590,1.187259,21.333427,21.183477,25.150265
26,4,6,26.490687,27.025346,1.270706,20.847220,21.213467,26.956078
27,4,7,25.133333,29.891667,1.405478,17.882415,21.140217,29.712102

In [34]:
###initial_forcast should be a list
def moving_average_forecast(weight_of_average, initial_forecast, demand):
    b = weight_of_average
    deseason_forecast = []
    deseason_forecast = initial_forecast
    for i in range(len(demand)-b):
        x = np.sum(demand[i:(i+b)])
        z = x/b
        deseason_forecast.append(z)
       
    return deseason_forecast

In [38]:
moving_deseasonalized_forecastU = moving_average_forecast(2, [20,20], deseason_demand_U)
moving_deseasonalized_forecastL = moving_average_forecast(2, [20,20], deseason_demand_L)

# calculating the actual forecast
# Uber
Moving_actual_forecast_U = []
for i in range(len(moving_deseasonalized_forecastU)):
    Moving_actual_forecast_U.append(seasonality_index_Uber[i]*moving_deseasonalized_forecastU[i])

# Lyft
Moving_actual_forecast_L = []
for j in range(len(moving_deseasonalized_forecastL)):
    Moving_actual_forecast_L.append(seasonality_index_Lyft[j]*moving_deseasonalized_forecastL[j])
    
len(moving_deseasonalized_forecastU)

32

In [40]:
# creating new dataframes
# Uber
season_U = [1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2 ,2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4]
distance_U = [1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]
uber = {'Season':season_U, 'Distance':distance_U, 'Price':demandU, 'Periodically Average':periodically_average_Uber, 
        'Seasonality Index':seasonality_index_Uber, 'Deseasonalized demand':deseason_demand_U, 
        'Deseaonalized Forecast':deseasonalized_forecastU, 'Actual Forecast':actural_forecast_U, 
        'Moving Deseasonalised Forecast':moving_deseasonalized_forecastU,
        'Moving Average Forecast':Moving_actual_forecast_U}
df_new_Uber = pd.DataFrame(uber)
df_new_Uber

,Season,Distance,Price,Periodically Average,Seasonality Index,Deseasonalized demand,Deseaonalized Forecast,Actual Forecast,Moving Deseasonalised Forecast,Moving Average Forecast
0,1,1,12.546811,12.472748,0.621859,20.176294,20.000000,12.437181,20.000000,12.437181
1,1,2,13.838275,13.786760,0.687372,20.132139,20.035259,13.771683,20.000000,13.747447
2,1,3,16.481474,16.517083,0.823499,20.013954,20.054635,16.514975,20.154217,16.596980
3,1,4,18.564800,18.566796,0.925693,20.055037,20.046499,18.556895,20.073046,18.581470
4,1,5,21.747914,21.752195,1.084508,20.053247,20.048206,21.742447,20.034496,21.727578
5,1,6,25.697973,25.570770,1.274893,20.156970,20.049215,25.560596,20.054142,25.566879
6,1,7,25.284983,24.208505,1.206974,20.949077,20.070766,24.224885,20.105109,24.266336
7,1,8,27.094382,27.582699,1.375202,19.702107,20.246428,27.842933,20.553023,28.264564
8,2,1,12.473332,12.472748,0.621859,20.058134,20.137564,12.522726,20.325592,12.639653
9,2,2,13.717776,13.786760,0.687372,19.956835,20.121678,13.831084,19.880121,13.665045
10,2,3,16.523272,16.517083,0.823499,20.064711,20.088709,16.543035,20.007485,16.476147
11,2,4,18.610081,18.566796,0.925693,20.103953,20.083910,18.591526,20.010773,18.523824
12,2,5,21.724947,21.752195,1.084508,20.032070,20.087918,21.785515,20.084332,21.781625
13,2,6,25.301379,25.570770,1.274893,19.845890,20.076749,25.595699,20.068012,25.584561
14,2,7,24.004687,24.208505,1.206974,19.888328,20.030577,24.176378,19.938980,24.065823
15,2,8,27.507042,27.582699,1.375202,20.002179,20.002127,27.506971,19.867109,27.321293
16,3,1,12.442161,12.472748,0.621859,20.008009,20.002138,12.438510,19.945254,12.403136
17,3,2,13.776237,13.786760,0.687372,20.041884,20.003312,13.749723,20.005094,13.750948
18,3,3,16.482886,16.517083,0.823499,20.015668,20.011026,16.479063,20.024947,16.490527
19,3,4,18.623376,18.566796,0.925693,20.118316,20.011955,18.524918,20.028776,18.540490
20,3,5,21.612814,21.752195,1.084508,19.928675,20.033227,21.726202,20.066992,21.762820
21,3,6,25.654535,25.570770,1.274893,20.122898,20.012316,25.513555,20.023495,25.527807
22,3,7,24.250633,24.208505,1.206974,20.092098,20.034433,24.181032,20.025786,24.170596
23,3,8,27.591522,27.582699,1.375202,20.063610,20.045966,27.567258,20.107498,27.651877
24,4,1,12.428687,12.472748,0.621859,19.986340,20.049495,12.467960,20.077854,12.485595
25,4,2,13.814753,13.786760,0.687372,20.097919,20.036864,13.772786,20.024975,13.764614
26,4,3,16.580699,16.517083,0.823499,20.134445,20.049075,16.510396,20.042130,16.504677
27,4,4,18.468929,18.566796,0.925693,19.951471,20.066149,18.575085,20.116182,18.621401
28,4,5,21.923104,21.752195,1.084508,20.214786,20.043213,21.737032,20.042958,21.736756
29,4,6,25.629193,25.570770,1.274893,20.103020,20.077528,25.596693,20.083129,25.603833
30,4,7,23.293716,24.208505,1.206974,19.299275,20.082626,24.239200,20.158903,24.331264
31,4,8,28.137850,27.582699,1.375202,20.460881,19.925956,27.402220,19.701147,27.093063

In [41]:
# creating new dataframes
# Lyft
season_L = [1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2 ,2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4]
distance_L = [1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]
lyft = {'Season':season_L, 'Distance':distance_L, 'Price':demandL, 'Periodically Average':periodically_average_Lyft, 
        'Seasonality Index':seasonality_index_Lyft, 'Deseasonalized demand':deseason_demand_L, 
        'Deseaonalized Forecast':deseasonalized_forecastL, 'Acutal Forecast':actural_forecast_L,
         'Moving Deseasonalised Forecast':moving_deseasonalized_forecastL,
        'Moving Average Forecast':Moving_actual_forecast_L}

df_new_Lyft = pd.DataFrame(lyft)
df_new_Lyft

,Season,Distance,Price,Periodically Average,Seasonality Index,Deseasonalized demand,Deseaonalized Forecast,Acutal Forecast,Moving Deseasonalised Forecast,Moving Average Forecast
0,1,1,12.881078,12.793480,0.601537,21.413601,20.000000,12.030744,20.000000,12.030744
1,1,2,14.637059,14.587945,0.685911,21.339583,20.282720,13.912145,20.000000,13.718224
2,1,3,18.352055,18.356293,0.863095,21.263068,20.494093,17.688356,21.376592,18.450037
3,1,4,20.856117,20.970526,0.986014,21.151947,20.647888,20.359108,21.301325,21.003407
4,1,5,25.337677,25.250590,1.187259,21.341329,20.748700,24.634072,21.207507,25.178796
5,1,6,27.250277,27.025346,1.270706,21.444990,20.867225,26.516108,21.246638,26.998229
6,1,7,34.166667,29.891667,1.405478,24.309649,20.982778,29.490825,21.393160,30.067607
7,2,1,12.750291,12.793480,0.601537,21.196180,21.648153,13.022169,22.877320,13.761559
8,2,2,14.587304,14.587945,0.685911,21.267044,21.557758,14.786708,22.752914,15.606479
9,2,3,18.351651,18.356293,0.863095,21.262600,21.499615,18.556217,21.231612,18.324905
10,2,4,20.961738,20.970526,0.986014,21.259066,21.452212,21.152183,21.264822,20.967414
11,2,5,25.377536,25.250590,1.187259,21.374902,21.413583,25.423461,21.260833,25.242107
12,2,6,27.010326,27.025346,1.270706,21.256158,21.405847,27.200537,21.316984,27.087618
13,2,7,32.500000,29.891667,1.405478,23.123812,21.375909,30.043361,21.315530,29.958499
14,3,1,12.908812,12.793480,0.601537,21.459707,21.725489,13.068690,22.189985,13.348102
15,3,2,14.582103,14.587945,0.685911,21.259461,21.672333,14.865296,22.291760,15.290168
16,3,3,18.344070,18.356293,0.863095,21.253817,21.589759,18.634020,21.359584,18.435357
17,3,4,20.976610,20.970526,0.986014,21.274148,21.522570,21.221557,21.256639,20.959345
18,3,5,24.958853,25.250590,1.187259,21.022255,21.472886,25.493869,21.263982,25.245846
19,3,6,27.350096,27.025346,1.270706,21.523544,21.382760,27.171200,21.148202,26.873146
20,3,7,27.766667,29.891667,1.405478,19.756037,21.410917,30.092563,21.272900,29.898584
21,4,1,12.633740,12.793480,0.601537,21.002425,21.079941,12.680369,20.639790,12.415602
22,4,2,14.545313,14.587945,0.685911,21.205825,21.064437,14.448334,20.379231,13.978343
23,4,3,18.377395,18.356293,0.863095,21.292428,21.092715,18.205024,21.104125,18.214872
24,4,4,21.087639,20.970526,0.986014,21.386752,21.132658,20.837098,21.249127,20.951938
25,4,5,25.328295,25.250590,1.187259,21.333427,21.183477,25.150265,21.339590,25.335612
26,4,6,26.490687,27.025346,1.270706,20.847220,21.213467,26.956078,21.360090,27.142393
27,4,7,25.133333,29.891667,1.405478,17.882415,21.140217,29.712102,21.090324,29.641977

In [42]:
# To calculate the equation of the line for Holt's
#p = []
#q = []
#for i in range(8):
#    p.append(x[i]*x[i])
#    q.append(x[i]*y[i])
#Sxx = np.sum(p) - (np.sum(x)*np.sum(x))/8
#Sxy = np.sum(q) - (np.sum(x)*np.sum(y)/8)
#b2 = Sxy/Sxx #slope
#a2 = y_bar - b2*x_bar #intercept

In [43]:
def forecastHolt(period, alpha, beta, resultA):
    n = len(resultA)
    P = 0
    Q = 0
    for i in range(n):
        P = P + (i)*resultA[i]
        Q = Q + resultA[i]
    Sxy = n*P - ((n*(n-1))/2)*Q
    Sxx = (n*n*(n+1)*(2*n+1))/6 - (n*n*(n+1)*(n+1))/4
    b = Sxy/Sxx
    R = np.mean(resultA)
    a = R - (b*(n+1))/2
    S = [a]
    G = [b]
    for i in range(0, n):
        A = alpha*resultA[i] + (1 - alpha)*(S[i] + G[i])
        S.append(A)
        B = beta*(S[i+1] - S[i]) + (1 - beta)*G[i]
        G.append(B)
    tau = period
    FHolt = []
    for i in range(len(S)):
        FHolt.append(S[i] + tau*G[i])
    
    return FHolt[:-1]

In [44]:
#Remove Nan values from Lyft data
demandnewL1 = demandL1[:-1]
demandnewL2 = demandL2[:-1]
demandnewL3 = demandL3[:-1]
demandnewL4 = demandL4[:-1]

In [45]:
ZU = forecastHolt(1, 0.2, 0.2, deseason_demand_U)
zU1 = forecastHolt(1, 0.2, 0.2, demandU1)
zU2 = forecastHolt(1, 0.2, 0.2, demandU2)
zU3 = forecastHolt(1, 0.2, 0.2, demandU3)
zU4 = forecastHolt(1, 0.2, 0.2, demandU4)
ZL = forecastHolt(1, 0.2, 0.2, deseason_demand_L)
zL1 = forecastHolt(1, 0.2, 0.2, demandnewL1)
zL2 = forecastHolt(1, 0.2, 0.2, demandnewL2)
zL3 = forecastHolt(1, 0.2, 0.2, demandnewL3)
zL4 = forecastHolt(1, 0.2, 0.2, demandnewL4)

Holts_prediction_Uber = zU1+zU2+zU3+zU4
Holts_prediction_Uber_deseason = ZU
Holts_prediction_Lyft = zL1+zL2+zL3+zL4
Holts_prediction_Lyft_deseason = ZL

In [46]:
Holts_actual_forecast_U = []
for i in range(len(Holts_prediction_Uber_deseason)):
    Holts_actual_forecast_U.append(seasonality_index_Uber[i]*Holts_prediction_Uber_deseason[i])

# Lyft
Holts_actual_forecast_L = []
for j in range(len(Holts_prediction_Lyft_deseason)):
    Holts_actual_forecast_L.append(seasonality_index_Lyft[j]*Holts_prediction_Lyft_deseason[j])

In [47]:
# creating new dataframes
# Uber
season_U = [1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2 ,2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4]
distance_U = [1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]
uber = {'Season':season_U, 'Distance':distance_U, 'Price':demandU, 'Seasonal Index':seasonality_index_Uber,
        'Holts Forecast actual (without seasonality)':Holts_prediction_Uber, 
        'Holts Forecast deseasonalised':ZU, 
        'Holts Forecast Actual':Holts_actual_forecast_U}
df_new_Uber = pd.DataFrame(uber)
df_new_Uber

,Season,Distance,Price,Seasonal Index,Holts Forecast actual (without seasonality),Holts Forecast deseasonalised,Holts Forecast Actual
0,1,1,12.546811,0.621859,12.244612,20.114763,12.508547
1,1,2,13.838275,0.687372,14.577844,20.125816,13.833929
2,1,3,16.481474,0.823499,16.673139,20.126081,16.573811
3,1,4,18.564800,0.925693,18.870349,20.098170,18.604727
4,1,5,21.747914,1.084508,21.032560,20.082334,21.779458
5,1,6,25.697973,1.274893,23.427566,20.068142,25.584727
6,1,7,25.284983,1.206974,26.224398,20.081087,24.237343
7,1,8,27.094382,1.375202,28.341690,20.284584,27.895406
8,2,1,12.473332,0.621859,12.227827,20.174688,12.545812
9,2,2,13.717776,0.687372,14.502459,20.153315,13.852831
10,2,3,16.523272,0.823499,16.539666,20.108098,16.559001
11,2,4,18.610081,0.925693,18.729875,20.091763,18.598796
12,2,5,21.724947,1.084508,20.894613,20.087032,21.784553
13,2,6,25.301379,1.274893,23.282589,20.066672,25.582852
14,2,7,24.004687,1.206974,25.989008,20.004316,24.144682
15,2,8,27.507042,1.375202,27.815433,19.958280,27.446672
16,3,1,12.442161,0.621859,12.182525,19.945977,12.403586
17,3,2,13.776237,0.687372,14.493908,19.939782,13.706054
18,3,3,16.482886,0.823499,16.581122,19.945685,16.425255
19,3,4,18.623376,0.925693,18.788294,19.947964,18.465682
20,3,5,21.612814,1.084508,20.975533,19.977130,21.665364
21,3,6,25.654535,1.274893,23.348703,19.960597,25.447618
22,3,7,24.250633,1.206974,26.147816,19.992707,24.130670
23,3,8,27.591522,1.375202,28.030439,20.016211,27.526338
24,4,1,12.428687,0.621859,12.203007,20.031212,12.456590
25,4,2,13.814753,0.687372,14.494773,20.025964,13.765294
26,4,3,16.580699,0.823499,16.578198,20.046960,16.508655
27,4,4,18.468929,0.925693,18.798227,20.074561,18.582873
28,4,5,21.923104,1.084508,20.938725,20.055124,21.749949
29,4,6,25.629193,1.274893,23.381333,20.098624,25.623588
30,4,7,23.293716,1.206974,26.166551,20.111246,24.273743
31,4,8,28.137850,1.375202,27.812717,19.928116,27.405190

In [48]:
# creating new dataframes
# Lyft
season_L = [1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2 ,2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4]
distance_L = [1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]
lyft = {'Season':season_L, 'Distance':distance_L, 'Price':demandL, 'Seasonal Index':seasonality_index_Lyft,
        'Holts Forecast actual (without seasonality)':Holts_prediction_Lyft, 'Holts Forecast deseasonalised':ZL, 
        'Holts Forecast Actual':Holts_actual_forecast_L}
df_new_Lyft = pd.DataFrame(lyft)
df_new_Lyft

,Season,Distance,Price,Seasonal Index,Holts Forecast actual (without seasonality),Holts Forecast deseasonalised,Holts Forecast Actual
0,1,1,12.881078,0.601537,11.632759,21.917939,13.184456
1,1,2,14.637059,0.685911,15.363385,21.748753,14.917713
2,1,3,18.352055,0.863095,18.670029,21.582233,18.627525
3,1,4,20.856117,0.986014,22.045624,21.420948,21.121356
4,1,5,25.337677,1.187259,25.199333,21.258935,25.239854
5,1,6,27.250277,1.270706,28.624145,21.170498,26.901477
6,1,7,34.166667,1.405478,31.691561,21.131460,29.699793
7,2,1,12.750291,0.601537,11.885436,21.800288,13.113684
8,2,2,14.587304,0.685911,15.347325,21.688493,14.876381
9,2,3,18.351651,0.863095,18.453837,21.596372,18.639728
10,2,4,20.961738,0.986014,21.687829,21.508435,21.207620
11,2,5,25.377536,1.187259,24.767997,21.427404,25.439870
12,2,6,27.010326,1.270706,28.139672,21.383646,27.172327
13,2,7,32.500000,1.405478,31.118396,21.319792,29.964490
14,3,1,12.908812,0.601537,12.763423,21.714400,13.062019
15,3,2,14.582103,0.685911,15.538471,21.687078,14.875410
16,3,3,18.344070,0.863095,18.054913,21.608066,18.649821
17,3,4,20.976610,0.986014,20.832026,21.529558,21.228447
18,3,5,24.958853,1.187259,23.586008,21.460601,25.479284
19,3,6,27.350096,1.270706,26.640556,21.337523,27.113718
20,3,7,27.766667,1.405478,29.590825,21.346760,30.002393
21,4,1,12.633740,0.601537,13.191583,20.937019,12.594396
22,4,2,14.545313,0.685911,15.498430,20.861119,14.308876
23,4,3,18.377395,0.863095,17.688098,20.854868,17.999740
24,4,4,21.087639,0.986014,20.233821,20.884691,20.592599
25,4,5,25.328295,1.187259,22.846600,20.947496,24.870095
26,4,6,26.490687,1.270706,25.884223,21.002512,26.688017
27,4,7,25.133333,1.405478,28.571058,20.943072,29.435018

In [50]:
#Comparison Table for Actual Forecast, Moving Average Forecast and Holt's forecast
#Uber
season_U = [1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2 ,2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4]
distance_U = [1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]
uber = {'Season':season_U, 'Distance':distance_U, 'Price':demandU, 'Periodically Average':periodically_average_Uber, 
        'Seasonality Index':seasonality_index_Uber, 'Actual Forecast':actural_forecast_U,
        'Moving Average Forecast':Moving_actual_forecast_U, 'Holts Forecast Actual':Holts_actual_forecast_U}
df_new_Uber = pd.DataFrame(uber)
df_new_Uber

,Season,Distance,Price,Periodically Average,Seasonality Index,Actual Forecast,Moving Average Forecast,Holts Forecast Actual
0,1,1,12.546811,12.472748,0.621859,12.437181,12.437181,12.508547
1,1,2,13.838275,13.786760,0.687372,13.771683,13.747447,13.833929
2,1,3,16.481474,16.517083,0.823499,16.514975,16.596980,16.573811
3,1,4,18.564800,18.566796,0.925693,18.556895,18.581470,18.604727
4,1,5,21.747914,21.752195,1.084508,21.742447,21.727578,21.779458
5,1,6,25.697973,25.570770,1.274893,25.560596,25.566879,25.584727
6,1,7,25.284983,24.208505,1.206974,24.224885,24.266336,24.237343
7,1,8,27.094382,27.582699,1.375202,27.842933,28.264564,27.895406
8,2,1,12.473332,12.472748,0.621859,12.522726,12.639653,12.545812
9,2,2,13.717776,13.786760,0.687372,13.831084,13.665045,13.852831
10,2,3,16.523272,16.517083,0.823499,16.543035,16.476147,16.559001
11,2,4,18.610081,18.566796,0.925693,18.591526,18.523824,18.598796
12,2,5,21.724947,21.752195,1.084508,21.785515,21.781625,21.784553
13,2,6,25.301379,25.570770,1.274893,25.595699,25.584561,25.582852
14,2,7,24.004687,24.208505,1.206974,24.176378,24.065823,24.144682
15,2,8,27.507042,27.582699,1.375202,27.506971,27.321293,27.446672
16,3,1,12.442161,12.472748,0.621859,12.438510,12.403136,12.403586
17,3,2,13.776237,13.786760,0.687372,13.749723,13.750948,13.706054
18,3,3,16.482886,16.517083,0.823499,16.479063,16.490527,16.425255
19,3,4,18.623376,18.566796,0.925693,18.524918,18.540490,18.465682
20,3,5,21.612814,21.752195,1.084508,21.726202,21.762820,21.665364
21,3,6,25.654535,25.570770,1.274893,25.513555,25.527807,25.447618
22,3,7,24.250633,24.208505,1.206974,24.181032,24.170596,24.130670
23,3,8,27.591522,27.582699,1.375202,27.567258,27.651877,27.526338
24,4,1,12.428687,12.472748,0.621859,12.467960,12.485595,12.456590
25,4,2,13.814753,13.786760,0.687372,13.772786,13.764614,13.765294
26,4,3,16.580699,16.517083,0.823499,16.510396,16.504677,16.508655
27,4,4,18.468929,18.566796,0.925693,18.575085,18.621401,18.582873
28,4,5,21.923104,21.752195,1.084508,21.737032,21.736756,21.749949
29,4,6,25.629193,25.570770,1.274893,25.596693,25.603833,25.623588
30,4,7,23.293716,24.208505,1.206974,24.239200,24.331264,24.273743
31,4,8,28.137850,27.582699,1.375202,27.402220,27.093063,27.405190

In [52]:
#Lyft
season_L = [1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4]
distance_L = [1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]
lyft = {'Season':season_L, 'Distance':distance_L, 'Price':demandL, 'Periodically Average':periodically_average_Lyft, 
        'Seasonality Index':seasonality_index_Lyft, 'Actual Forecast':actural_forecast_L,
        'Moving Average Forecast':Moving_actual_forecast_L, 'Holts Forecast Actual':Holts_actual_forecast_L}
df_new_Lyft = pd.DataFrame(lyft)
df_new_Lyft

,Season,Distance,Price,Periodically Average,Seasonality Index,Actual Forecast,Moving Average Forecast,Holts Forecast Actual
0,1,1,12.881078,12.793480,0.601537,12.030744,12.030744,13.184456
1,1,2,14.637059,14.587945,0.685911,13.912145,13.718224,14.917713
2,1,3,18.352055,18.356293,0.863095,17.688356,18.450037,18.627525
3,1,4,20.856117,20.970526,0.986014,20.359108,21.003407,21.121356
4,1,5,25.337677,25.250590,1.187259,24.634072,25.178796,25.239854
5,1,6,27.250277,27.025346,1.270706,26.516108,26.998229,26.901477
6,1,7,34.166667,29.891667,1.405478,29.490825,30.067607,29.699793
7,2,1,12.750291,12.793480,0.601537,13.022169,13.761559,13.113684
8,2,2,14.587304,14.587945,0.685911,14.786708,15.606479,14.876381
9,2,3,18.351651,18.356293,0.863095,18.556217,18.324905,18.639728
10,2,4,20.961738,20.970526,0.986014,21.152183,20.967414,21.207620
11,2,5,25.377536,25.250590,1.187259,25.423461,25.242107,25.439870
12,2,6,27.010326,27.025346,1.270706,27.200537,27.087618,27.172327
13,2,7,32.500000,29.891667,1.405478,30.043361,29.958499,29.964490
14,3,1,12.908812,12.793480,0.601537,13.068690,13.348102,13.062019
15,3,2,14.582103,14.587945,0.685911,14.865296,15.290168,14.875410
16,3,3,18.344070,18.356293,0.863095,18.634020,18.435357,18.649821
17,3,4,20.976610,20.970526,0.986014,21.221557,20.959345,21.228447
18,3,5,24.958853,25.250590,1.187259,25.493869,25.245846,25.479284
19,3,6,27.350096,27.025346,1.270706,27.171200,26.873146,27.113718
20,3,7,27.766667,29.891667,1.405478,30.092563,29.898584,30.002393
21,4,1,12.633740,12.793480,0.601537,12.680369,12.415602,12.594396
22,4,2,14.545313,14.587945,0.685911,14.448334,13.978343,14.308876
23,4,3,18.377395,18.356293,0.863095,18.205024,18.214872,17.999740
24,4,4,21.087639,20.970526,0.986014,20.837098,20.951938,20.592599
25,4,5,25.328295,25.250590,1.187259,25.150265,25.335612,24.870095
26,4,6,26.490687,27.025346,1.270706,26.956078,27.142393,26.688017
27,4,7,25.133333,29.891667,1.405478,29.712102,29.641977,29.435018